{% extends 'my_admin/base.html' %}
{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="px-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_dashboard' %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url 'promotion_management:offer_view' %}">Offers</a></li>
    <li class="breadcrumb-item">Edit Offer</li>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title fw-semibold mb-0">Edit Offer</h5>
    </div>
    <div class="card-body">
      <form method="POST" class="row g-3">
        {% csrf_token %}
        
        <!-- Offer Name -->
        <div class="col-md-6">
          <label for="offer_name" class="form-label">Offer Name</label>
          <input type="text" class="form-control" id="offer_name" name="offer_name" value="{{ offer.offer_name }}" minlength="2" required>
        </div>

        <!-- Discount Percentage -->
        <div class="col-md-6">
          <label for="discount_percentage" class="form-label">Discount Percentage</label>
          <input type="number" step="0.01" class="form-control" id="discount_percentage" min="0" max="100" name="discount_percentage" value="{{ offer.discount_percentage }}" required>
        </div>

        <!-- Start Date -->
        <div class="col-md-6">
          <label for="start_date" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="start_date" name="start_date" value="{{ offer.start_date|date:'Y-m-d' }}" required>
        </div>

        <!-- End Date -->
        <div class="col-md-6">
          <label for="end_date" class="form-label">End Date</label>
          <input type="date" class="form-control" id="end_date" name="end_date" value="{{ offer.end_date|date:'Y-m-d' }}" required>
        </div>
         <!-- offer selection -->
       

        <!-- Offer Description -->
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="4" required>{{ offer.description }}</textarea>
        </div>

     

        <!-- Error Messages -->
        {% if errors %}
          <div class="alert alert-danger">
            <ul>
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        <!-- Submit Button -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Apply Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
