{% extends 'my_admin/base.html' %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="px-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_dashboard' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'order_management:order_view' %}">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order Details</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<h2 class="mb-4 px-4">Order Details</h2>

<div class="container-fluid">
    <!-- Order Summary -->
    <div class="row mb-4">
        <div class="col-md-6">
            <h5>Order ID: {{ order.id }}</h5>
            <p><strong>Date:</strong> {{ order.created_at|date:"d M, Y" }}</p>
            <p><strong>Payment Status:</strong> {{ order.payment_method }}</p>
            <p><strong>Payment Status:</strong> {{ order.payment_status }}</p>
            <p><strong>Order Status:</strong> 
                {% if order.order_status == 'CANCELLED'%}
                {{ order.order_status }}</p>
                {% elif order.order_status == 'DELIVERED' %}
                {{ order.order_status}}--{{order.delivery_date}}
                {% elif order.order_status == 'FAILED' %}
                {{ order.order_status}}
                {% elif order.order_status == 'PENDING' %}
                {{ order.order_status}}
                {% else %}
                {{order.order_status}}
                <form method="POST" action="{% url 'order_management:order_update' order.id  %}">
                    {% csrf_token %}
                    <select name="order_status" class="form-select d-inline w-auto">
                        {% for status, display in order.ORDER_STATUS_CHOICES %}
                        {% if status == 'SHIPPED' or status == 'DELIVERED' %}
                            <option value="{{ status }}" {% if order.order_status == status %}selected{% endif %}>{{ display }}</option>
                            {% endif %}
                        
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                </form>
                {% endif %}
            </p>
            {% if order.coupon %}
            <p><strong>Coupon:</strong> ₹-{{ order.get_coupon_discount }}->{{order.coupon.code}}</p>
            {% endif %}
            <p><strong>Total Amount:</strong> ₹{{ order.total_amount }}</p>
        </div>
    </div>

    <!-- Address Details -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h5>Shipping Address</h5>
            <p><strong>Name:</strong> {{ order.orderaddress.name }}</p>
            <p><strong>Phone:</strong> {{ order.orderaddress.phone }}</p>
            <p><strong>Address:</strong> {{ order.orderaddress.address_data }}</p>
            <p><strong>City:</strong> {{ order.orderaddress.city }}, {{ order.orderaddress.state }}</p>
            <p><strong>Pincode:</strong> {{ order.orderaddress.pincode }}</p>
        </div>
    </div>

    <!-- Order Items -->
    <div class="table-responsive">
        <h5>Order Items</h5>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                     {% if has_return %}
                     <th>Return</th>
                     {% else %}
                     <th></th>
                     {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in order.orderitem_set.all %}
                <tr>
                    <td>{{ item.product_variant.product.product_name }}-{{ item.product_variant.size.size_code }}</td>
                    <td>{{ item.quantity }}</td>
                    <td> <p {% if item.offer_applied %} style="text-decoration: line-through" {% endif %}>₹{{ item.price }}</p>
                        {% if item.offer_applied %}
                        <p>{{ item.offer_applied.offer_name }}</p>
                        <p>₹{{ item.offer_price }}</p>
                        {% endif %}</td>
                    <td>₹{{ item.total_price }}</td>
                    {% if has_return %}
                    {% if item.orderreturn.status == 'REQUESTED' %}
                     <td><span>{{item.orderreturn.return_reason}}-</span><a href="{% url 'order_management:order_return_approve' item.id %}" class="btn btn-primary mx-2">Approve</a><a href="{% url 'order_management:order_return_reject' item.id %}" class="btn btn-outline-primary">Reject</a></td>
                     
                     {% elif item.orderreturn.status == 'APPROVED' %}
                <td><span class="text-success">Return approved</span></td>
            {% elif item.orderreturn.status == 'REJECTED' %}
                <td><span class="text-danger">Return rejected</span></td>
                {% else %}
                <td><span>No request</span></td>
            {% endif %}
            {% endif %}
                </tr>
                {% endfor %}
                {% if order.coupon %}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right">Coupon Amount</td>
                    <td>-₹{{ order.get_coupon_discount }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right">Delivery Charge:</td>
                    <td>+₹40</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right">Total:</td>
                    <td>₹{{ order.total_amount }}</td>
                </tr>
            </tbody>
        </table>
        {% if order.order_status != 'DELIVERED' and order.order_status != 'CANCELLED' %}
    <form action="{% url 'order_management:order_cancellation' order.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" value="CANCELLED" name="order_status" class="btn btn-danger">
            Cancel the Order
        </button>
    </form>
{% endif %}
    </div>
</div>
{% endblock content %}
