{% extends 'my_admin/base.html' %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="px-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_dashboard' %}">Admin</a></li>
        <li class="breadcrumb-item">Orders</li>
    </ol>
</nav>
{% endblock breadcrumbs %}
{% block content %}

<h2 class="mb-4 px-4">Orders</h2>
<form class="d-flex px-3">
    <input class="form-control me-2" type="search" placeholder="Search by Order ID or User" name="searchvalue" aria-label="Search" {% if searchvalue %} value="{{ searchvalue }}" {% endif %}>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped table-hover w-100">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                    <th scope="col" class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>₹{{ order.total_amount }}</td>
                    <td>{{ order.payment_status }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.created_at|date:"d M, Y" }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{% url 'order_management:order_detail' order.id %}">View</a>
                    </td>
                    <td>{% if order.has_pending_return %}<span class="badge rounded-pill bg-warning text-dark">Action Required</span>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation d-flex justify-content-center">
        <ul class="pagination">
            <!-- Previous button -->
            <li class="page-item {% if orders.number == 1 %}disabled{% endif %}">
                <a class="page-link" href="{% if orders.number != 1 %}?page={{ orders.number|add:'-1' }}{% if searchvalue %}&searchvalue={{ searchvalue }}{% endif %}{% else %}#{% endif %}" {% if orders.number == 1 %}tabindex="-1" aria-disabled="true"{% endif %}>
                    Previous
                </a>
            </li>

            <!-- Page numbers -->
            {% for i in orders.paginator.page_range %}
                <li class="page-item {% if orders.number == i %}active{% endif %}" {% if orders.number == i %}aria-current="page"{% endif %}>
                    <a class="page-link" href="?page={{ i }}{% if searchvalue %}&searchvalue={{ searchvalue }}{% endif %}">{{ i }}</a>
                </li>
            {% endfor %}

            <!-- Next button -->
            <li class="page-item {% if orders.number == orders.paginator.num_pages %}disabled{% endif %}">
                <a class="page-link" href="{% if orders.number != orders.paginator.num_pages %}?page={{ orders.number|add:'1' }}{% if searchvalue %}&searchvalue={{ searchvalue }}{% endif %}{% else %}#{% endif %}" {% if orders.number == orders.paginator.num_pages %} tabindex="-1" aria-disabled="true"{% endif %}>
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock content %}
