{% extends 'user/blank_layout.html' %}


{% block shop %}
<style>
    .list-group-item.active {
        background-color: black;
        border-color: black;
        color: white; /* Ensures the text is readable */
    }
    .btn-dark{
      background-color: black;
    }
</style>
<div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <!-- Account Navigation -->
        <div class="list-group">
          <a href="{% url 'address_app:account_management' %}" class="list-group-item list-group-item-action {% block address_active1 %}{% endblock %}">Dashboard</a>
          <a href="{% url 'profile_app:profile_view' %}" class="list-group-item list-group-item-action {% block address_active2 %}{% endblock %}">Profile</a>
          <a href="{% url 'profile_app:change_password' %}" class="list-group-item list-group-item-action {% block address_active3 %}{% endblock %}">Change Password</a>
          <a href="{% url 'order_app:order_view' %}" class="list-group-item list-group-item-action {% block address_active4 %}{% endblock %}">Orders</a>
          <a href="{% url 'address_app:address_view' %}" class="list-group-item list-group-item-action {% block address_active5 %}{% endblock %}">Addresses</a>
          <a href="{% url 'wallet_app:wallet_view' %}" class="list-group-item list-group-item-action {% block address_active6 %}{% endblock %}">Wallet</a>
        </div>
      </div>
      <div class="col-md-9">
        {% block content %}
            
        {% endblock content %}
        
      </div>
    </div>
  </div>
{% endblock shop %}
