{% extends 'user/blank_layout.html' %}
{% load static %}

{% block shop %}
{% if success %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Successfull',
            text: 'Order Placed Successfully.',
            icon: 'success',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'auth_app:home' %}";
        },3000);
    });
    
</script>
{% endif %}
{% if failed %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'Order Failed.',
            icon: 'error',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'auth_app:home' %}";
        },3000);
    });
    
</script>
{% endif %}
{% if quantity_failed %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'Order Failed due to quantity issue from our side. Amount added to the wallet',
            icon: 'error',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'auth_app:home' %}";
        },3000);
    });
    
</script>
{% endif %}

{% if product_unlisted %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'Sorry, The product is currently unavailable',
            icon: 'error',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'order_app:order_view' %}";
        },3000);
    });
    
</script>
{% endif %}

{% if time_limit %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'Order Failed due to time limit exceeded to complete the payment',
            icon: 'error',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'order_app:order_view' %}";
        },3000);
    });
    
</script>
{% endif %}
{% if wallet_success %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Successfull',
            text: 'Amount Added Successfully.',
            icon: 'success',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'wallet_app:wallet_view' %}";
        },3000);
    });
    
</script>
{% endif %}

{% if quantity_issue %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'Order Failed due to quantity issue from our side. Amount not debited',
            icon: 'error',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'auth_app:home' %}";
        },3000);
    });
    
</script>
{% endif %}
{% if low_balance %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'Order Failed. Low balance in wallet',
            icon: 'error',
            showconfirmButtonText: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'auth_app:home' %}";
        },3000);
    });
    
</script>
{% endif %}
{% if notsuccess %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'This product is not available now.',
            icon: 'error',
            showConfirmButton: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'wishlist_app:wishlist_view' %}";
        },3000);
    });
    
</script>
{% endif %}

{% if noquantity %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed',
            text: 'This product is not available now.',
            icon: 'error',
            showConfirmButton: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'wishlist_app:wishlist_view' %}";
        },3000);
    });
    
</script>
{% endif %}
{% if wishlist_success %}
<script>    
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Success',
            text: 'This product is added to cart.',
            icon: 'success',
            showConfirmButton: false
        });
        setTimeout(() => {
            window.location.href = "{% url 'wishlist_app:wishlist_view' %}";
        },3000);
    });
    
</script>
{% endif %}
{% endblock %}
