{% extends 'user/blank_layout.html' %}
{% load static %}

{% block shop %}



<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>
    

<!-- Shoping Cart -->
{% if cart_items %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                                <th class="column-6">Action</th>
                            </tr>
                            {% for item in cart_items %}
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{ item.productvariant.product.image1.url }}" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2"><a style="color: black;" href="{% url 'product_app:product_view' item.productvariant.product.id %}?size={{item.productvariant.size.id}}">{{ item.productvariant.product.product_name }}-{{item.productvariant.size.size_code}}</a></td>
                                <td class="column-3">
                                    {% if item.offer_price %}
                                        <div>
                                            <span style="text-decoration: line-through; color: #999;">₹{{ item.productvariant.price }}</span>
                                            <br>
                                            <span style="color: #ff0000;">₹{{ item.offer_price }}</span>
                                        </div>
                                    {% else %}
                                        ₹{{ item.productvariant.price }}
                                    {% endif %}
                                </td>
                                <td class="column-4">
                                    <form id="quantityForm-{{ item.id }}" action="{% url 'cart_app:cart_view' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{item.id}}" name="item_id">
                                        <input type="hidden" id="quantityInput-{{ item.id }}" name="num_product" value="{{ item.quantity }}">
                                
                                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>
                                            <input class="mtext-104 cl3 txt-center num-product" 
                                                   id="quantityDisplay-{{ item.id }}" 
                                                   type="number" 
                                                   value="{{ item.quantity }}" 
                                                   readonly>
                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="column-5">
                                    {% if item.offer_price %}
                                        <div>
                                            <span style="text-decoration: line-through; color: #999;">
                                                {{item.quantity}}x₹{{item.productvariant.price}}
                                            </span>
                                            <br>
                                            <span style="color: #ff0000;">
                                                {{item.quantity}}x₹{{item.offer_price}} = ₹{{item.total_price}}
                                            </span>
                                            <div  style="font-size: 12px; color: green;">
                                                {{ item.productvariant.product.offer.offer_name }}
                                            </div>
                                        </div>
                                    {% else %}
                                        {{item.quantity}}x₹{{item.productvariant.price}} = ₹{{item.total_price}}
                                    {% endif %}
                                </td>                                
                                <td class="column-6">
                                    <form action="{% url 'cart_app:cart_item_delete' item.id %}" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" style="margin-right: 5px;">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% if item.not_listed %}
                            <tr>
                                <td colspan="5">
                                    <div class="warning-message" style="color: #ff0000; font-size: 12px; margin: 5px 0; font-weight: 500; text-align: center;">
                                        The product is no longer available to buy. Remove from cart to continue.
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% if item.remove %}
                            <tr>
                                <td colspan="5">
                                    <div class="warning-message" style="color: #ff0000; font-size: 12px; margin: 5px 0; font-weight: 500; text-align: center;">
                                        Sorry! This Product is Out of Stock. Remove from cart to continue.
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% if item.warning %}
                            <tr>
                                <td colspan="5">
                                    <div class="warning-message" style="color: #ff0000; font-size: 12px; margin: 5px 0; font-weight: 500; text-align: center;">
                                        The stock of this product is less than the selected quantity. Decrease the quantity to place order or remove to continue.
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                          
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>
                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                ₹{{total_price}}
                            </span>
                        </div>
                    </div>

                    <a href="{% url 'order_app:proceed_to_checkout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container text-center" style="padding: 50px 0;">
        <h3 class="mtext-109 cl2 mb-5">Your cart is empty!</h3>
        <p class="stext-101 cl2 mb-5">Browse our shop and add items to your cart.</p>
        <a style="margin: auto;" href="{% url 'product_app:shop' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer w-50">
            Go to Shop
        </a>
    </div>
{% endif %}

<script>
function updateQuantityForm(itemId, newQuantity) {
    document.getElementById(`quantityInput-${itemId}`).value = newQuantity;
    document.getElementById(`quantityForm-${itemId}`).submit();
}

document.querySelectorAll('.btn-num-product-down, .btn-num-product-up').forEach(btn => {
    btn.addEventListener('click', () => {
        const itemId = btn.closest('td.column-4').querySelector('input.num-product').id.split('-')[1];
        const currentQuantity = parseInt(document.getElementById(`quantityDisplay-${itemId}`).value);
        let newQuantity;
        if (btn.classList.contains('btn-num-product-down')) {
            newQuantity = currentQuantity - 1;
            newQuantity = newQuantity < 1 ? 1 : newQuantity; 
        } else {
            newQuantity = currentQuantity + 1;
        }

        setTimeout(() => {
            document.getElementById(`quantityDisplay-${itemId}`).value = newQuantity;
        }, 200);

        updateQuantityForm(itemId, newQuantity);
    });
});
</script>
{% if noquantity %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'There is no quantity available to add. Try lesser quantity',
            icon: 'error',
            confirmButtonText: 'OK'
        }).then(() => {
            window.location.href = "{% url 'product_app:product_view' product.id %}?size={{size_id}}";  // Redirect after confirmation
        });
    });
</script>
{% endif %}
{% if quantity_error %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'There is no quantity available to add. Try a lesser quantity.',
            icon: 'error',
            timer: 3000,  // Display the alert for 3 seconds (3000 milliseconds)
            showConfirmButton: false  // Hide the confirm button to automatically close
        });
    });
</script>

{% endif %}
{% if max_quantity_error %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'Maximum qunatity per user is 5.',
            icon: 'error',
            timer: 3000,  // Display the alert for 3 seconds (3000 milliseconds)
            showConfirmButton: false  // Hide the confirm button to automatically close
        });
    });
</script>

{% endif %}
{% if change %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'There is some issues in cart. Remove the item or change the qunatity to proceed.',
            icon: 'error',
            confirmButtonText: 'OK',
            timer: 3000, 
            showConfirmButton: false 
        });

        setTimeout(() => {
            window.location.href = "{% url 'cart_app:cart_view' %}"; 
        }, 3000);
    });
</script>
{% endif %}
    
{% endblock %}
