{% extends 'user/blank_layout.html' %}
{% load static %}

{% block shop %}



<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'auth_app:home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>
    

<!-- Shoping Cart -->
{% if cart_items %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                                <th class="column-6">Action</th>
                            </tr>
                            {% for item in cart_items %}
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{ item.productvariant.product.image1.url }}" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2"><a style="color: black;" href="{% url 'product_app:product_view' item.productvariant.product.id %}?size={{item.productvariant.size.id}}">{{ item.productvariant.product.product_name }}-{{item.productvariant.size.size_code}}</a></td>
                                <td class="column-3">
                                    {% if item.offer_price %}
                                        <div>
                                            <span style="text-decoration: line-through; color: #999;">₹{{ item.productvariant.price }}</span>
                                            <br>
                                            <span style="color: #ff0000;">₹{{ item.offer_price }}</span>
                                        </div>
                                    {% else %}
                                        ₹{{ item.productvariant.price }}
                                    {% endif %}
                                </td>
                                <td class="column-4">        
                                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                            <button class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" onclick="quantity_update('{{item.id}}','decrease','{% if item.offer_price %}{{ item.offer_price }}{% else %}{{ item.productvariant.price }}{% endif %}')">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </button>
                                            <input class="mtext-104 cl3 txt-center num-product" 
                                                   id="quantityDisplay-{{ item.id }}" 
                                                   type="number" 
                                                   value="{{ item.quantity }}" 
                                                   readonly>
                                            <button class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" onclick="quantity_update('{{item.id}}','increase','{% if item.offer_price %}{{ item.offer_price }}{% else %}{{ item.productvariant.price }}{% endif %}')">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </button>
                                        </div>
                                </td>
                                <td class="column-5">
                                    {% if item.offer_price %}
                                        <div>
                                            <span id="item-original-{{item.id}}" style="text-decoration: line-through; color: #999;">
                                                {{item.quantity}}x₹{{item.productvariant.price}}
                                            </span>
                                            <br>
                                            <span id="item-data-{{item.id}}" style="color: #ff0000;">
                                                {{item.quantity}}x₹{{item.offer_price}} = ₹{{item.total_price}}
                                            </span>
                                            <div  style="font-size: 12px; color: green;">
                                                {% if item.offer_applied == 'PRODUCT' %}
                                                {{ item.productvariant.product.offer.offer_name }}
                                                {% elif item.offer_applied == 'CATEGORY' %}
                                                {{ item.productvariant.product.subcategory.category.offer.offer_name }}
                                                {% elif item.offer_applied == 'SUBCATEGORY' %}
                                                {{ item.productvariant.product.subcategory.offer.offer_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <span id="item-data-{{item.id}}" >
                                            {{item.quantity}}x₹{{item.productvariant.price}} = ₹{{item.total_price}}
                                        </span>
                                    {% endif %}
                                </td>                                
                                <td class="column-6">
                                    <form action="{% url 'cart_app:cart_item_delete' item.id %}" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" style="margin-right: 5px;">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% if item.not_listed %}
                            <tr>
                                <td colspan="5">
                                    <div class="warning-message" style="color: #ff0000; font-size: 12px; margin: 5px 0; font-weight: 500; text-align: center;">
                                        The product is no longer available to buy. Remove from cart to continue.
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% if item.remove %}
                            <tr>
                                <td colspan="5">
                                    <div class="warning-message" style="color: #ff0000; font-size: 12px; margin: 5px 0; font-weight: 500; text-align: center;">
                                        Sorry! This Product is Out of Stock. Remove from cart to continue.
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% if item.warning %}
                            <tr>
                                <td colspan="5">
                                    <div class="warning-message" style="color: #ff0000; font-size: 12px; margin: 5px 0; font-weight: 500; text-align: center;">
                                        The stock of this product is less than the selected quantity. Decrease the quantity to place order or remove to continue.
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                          
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>
                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2" id="cart-total">
                                ₹{{total_price}}
                            </span>
                        </div>
                    </div>

                    <a href="{% url 'order_app:proceed_to_checkout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container text-center" style="padding: 50px 0;">
        <h3 class="mtext-109 cl2 mb-5">Your cart is empty!</h3>
        <p class="stext-101 cl2 mb-5">Browse our shop and add items to your cart.</p>
        <a style="margin: auto;" href="{% url 'product_app:shop' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer w-50">
            Go to Shop
        </a>
    </div>
{% endif %}

<script>
function quantity_update(ItemId,action,price) {
    total_price = parseFloat(document.getElementById('cart-total').textContent.replace('₹', '').trim());
    fetch(`{% url 'cart_app:cart_update' 0 %}`.replace("0", ItemId), {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/json"
        },body: JSON.stringify({ action: action, price: price, total_price: total_price })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            const input = document.getElementById(`quantityDisplay-${ItemId}`);
            input.value = data.new_quantity;
            document.getElementById('cart-total').textContent = `₹ ${data.total_price}`;
            document.getElementById(`item-data-${ItemId}`).textContent = `${data.new_quantity}X₹${data.price} = ₹${(data.new_quantity * data.price).toFixed(2)}`;
            document.getElementById(`item-original-${ItemId}`).textContent = `${data.new_quantity}X₹${data.original_price} `;


            
        } else {
            const input = document.getElementById(`quantityDisplay-${ItemId}`);
            input.value = data.new_quantity;
            
            Swal.fire({
            title: 'Failed!',
            text: data.message,
            icon: 'error',
            timer: 3000,  // Display the alert for 3 seconds (3000 milliseconds)
            showConfirmButton: false  // Hide the confirm button to automatically close
        });
        }
    })
    .catch(error => console.error("Error:", error));
   
}

</script>
{% if noquantity %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'There is no quantity available to add. Try lesser quantity',
            icon: 'error',
            confirmButtonText: 'OK'
        }).then(() => {
            window.location.href = "{% url 'product_app:product_view' product.id %}?size={{size_id}}";  // Redirect after confirmation
        });
    });
</script>
{% endif %}
{% if quantity_error %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'There is no quantity available to add. Try a lesser quantity.',
            icon: 'error',
            timer: 3000,  
            showConfirmButton: false 
        });
    });
</script>

{% endif %}
{% if max_quantity_error %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'Maximum qunatity per user is 5.',
            icon: 'error',
            timer: 3000,  // Display the alert for 3 seconds (3000 milliseconds)
            showConfirmButton: false  // Hide the confirm button to automatically close
        });
    });
</script>

{% endif %}
{% if change %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'There is some issues in cart. Remove the item or change the qunatity to proceed.',
            icon: 'error',
            confirmButtonText: 'OK',
            timer: 3000, 
            showConfirmButton: false 
        });

        setTimeout(() => {
            window.location.href = "{% url 'cart_app:cart_view' %}"; 
        }, 3000);
    });
</script>
{% endif %}
    
{% endblock %}
