{% extends 'user/account_layout.html' %}
{% block address_active3 %}active{% endblock %}
{% block content %}

<style>
  .change-password-card {
    max-width: 700px;
    margin: auto;
  }
</style>

<div class="card change-password-card">
  <div class="card-header">
    <h4>Change Password</h4>
  </div>
  <div class="card-body">
    <form method="post" action="">
      {% csrf_token %}
      
      <!-- Current Password -->
      <div class="form-group">
        <label for="current_password">Current Password</label>
        <input type="password" class="form-control" id="current_password" name="current_password" required>
      </div>
      
      <!-- New Password -->
      <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required>
      </div>
      
      <!-- Confirm New Password -->
      <div class="form-group">
        <label for="confirm_password">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
      </div>
      {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
      <!-- Submit Button -->
      <button type="submit" class="btn btn-dark mt-3">Update Password</button>
    </form>
  </div>
</div>
{% if success %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Success',
            text: 'Password Changed Successfully.',
            icon: 'success',
            timer: 4000,  // Display the alert for 3 seconds (3000 milliseconds)
            showConfirmButton: false  // Hide the confirm button to automatically close
        });

        // Redirect after 3 seconds
        setTimeout(function() {
            window.location.href = "{% url 'profile_app:profile_view' %}";  // Replace 'desired_redirect_url' with your target URL
        }, 3000);  // Redirect after 3 seconds
    });
</script>
{% endif %}
{% endblock %}
