{% extends 'user/account_layout.html' %}
{% block address_active2 %}active{% endblock %}

{% block content %}

<style>
  .edit-profile-card {
    max-width: 700px;
    margin: auto;
  }
</style>

<div class="card edit-profile-card">
  <div class="card-header">
    <h4>Edit Profile</h4>
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'profile_app:edit_profile' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{% if first_name %}{{first_name}}{% else %}{{ user_data.first_name }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{% if last_name %}{{last_name}}{% else %}{{ user_data.last_name }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{% if email %}{{email}}{% else %}{{ user_data.email }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="phone_number">Phone</label>
        <input type="text" class="form-control" id="phone_number" name="phone" value="{% if phone_number %}{{phone_number}}{% else %}{{ user_data.phone_number }}{% endif %}" reaquired>
      </div>
      {% if errors %}
      <div class="alert alert-danger">
          <ul>
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
      <button type="submit" class="btn btn-dark mt-3">Save Changes</button>
    </form>
  </div>
</div>
{% if email_change %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Attention!',
            text: 'There is a change in email. You must confirm the email using otp to apply the change. Other changes applied',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Continue to Confirm',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect if 'OK' is clicked
                window.location.href = "{% url 'profile_app:email_otp'%}";
            }
            // No action needed if 'Cancel' is clicked
        });
    });
</script>
{% endif %}
{% if exist %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Failed!',
            text: 'A account with this email id already exists. Try another email id. Other changes applied.',
            icon: 'error',
            timer: 4000, 
            showConfirmButton: false 
        });

        // Redirect after 3 seconds
        setTimeout(function() {
            window.location.href = "{% url 'profile_app:profile_view' %}"; 
        }, 3000); 
    });
</script>
{% endif %}

{% endblock %}
