{% load static %}
<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {%if category_id%}{% else %}how-active1{% endif %}" href="{% url 'product_app:shop' %}">
						All Products
					<a>
					{% for category in categories %}

					<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if category_id|stringformat:'s' == category.id|stringformat:'s' %}how-active1{% endif %}" href="{% url 'product_app:shop' %}?category_id={{ category.id }}{% if searchvalue %}&searchvalue={{searchvalue}} {% endif %} ">
						{{ category.category_name }}
					</a>
					{% endfor %}

					
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						
					</div>
				</div>

				<!-- Search product -->
				
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form class="d-flex px-3">
						{% if category_id %}
						<input type="hidden" value="{{category_id}}" name="category_id" >
						{% endif %}
						{% if subcategory_id %}
						<input type="hidden" value="{{subcategory_id}}" name="subcategory_id">
						{% endif %}
					<div class="bor8 dis-flex p-l-15">
						<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="searchvalue"  {% if searchvalue %} value="{{searchvalue}}" {% endif %} placeholder="Search">
					
					</div>	
				</form>
				</div>

			
				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?sort=id{% if searchvalue %}&searchvalue={{searchvalue}} {% endif %}{% if category_id %}&category_id={{category_id}} {% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'id' %}filter-link-active{% endif %}">
										Default
									</a>
								</li>

								<li class="p-b-6">
									<a href="?sort=popularity{% if searchvalue %}&searchvalue={{searchvalue}} {% endif %}{% if category_id %}&category_id={{category_id}} {% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04">
										Popularity
									</a>
								</li>

								<li class="p-b-6">
									<a href="?sort=rating{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'rating' %}filter-link-active{% endif %}">
										Average rating
									</a>
								</li>

								<li class="p-b-6">
									<a href="?sort=newness{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'newness' %}filter-link-active{% endif %}">
										Newness
									</a>
								</li>

								<li class="p-b-6">
									<a href="?sort=low{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'low' %}filter-link-active{% endif %}">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="?sort=high{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'high' %}filter-link-active{% endif %}">
										Price: High to Low
									</a>
								</li>
								<li class="p-b-6">
									<a href="?sort=az{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'az' %}filter-link-active{% endif %}">
										aA-zZ
									</a>
								</li>
								<li class="p-b-6">
									<a href="?sort=za{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}" class="filter-link stext-106 trans-04 {% if sort == 'za' %}filter-link-active{% endif %}">
										zZ-aA
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?price_range=all{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if price_range == 'all' or price_range == '' %}filter-link-active{% endif %}">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="?price_range=0-100{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if price_range == '0-100' %}filter-link-active{% endif %}">
										₹0.00 - ₹100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?price_range=100-250{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if price_range == '100-250' %}filter-link-active{% endif %}">
										₹100.00 - ₹250.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?price_range=250-500{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if price_range == '250-500' %}filter-link-active{% endif %}">
										₹250.00 - ₹500.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?price_range=500-1000{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if price_range == '500-1000' %}filter-link-active{% endif %}">
										₹500.00 - ₹1000.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?price_range=1000-{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if price_range == '1000+' %}filter-link-active{% endif %}">
										₹1000.00+
									</a>
								</li>
							</ul>
						</div>

						
					</div>
				</div>
			</div>
			<div class="applied-filters">
				{% if searchvalue %}
				<p>Showing results for: <strong>"{{ searchvalue }}"</strong></p>
				{% endif %}
				
				{% if price_range %}
				<p>Price Range: 
					{% if price_range == "all" %}
					<strong>All</strong>
					{% elif price_range == "0-100" %}
					<strong>₹0.00 - ₹100.00</strong>
					{% elif price_range == "100-250" %}
					<strong>₹100.00 - ₹250.00</strong>
					{% elif price_range == "250-500" %}
					<strong>₹250.00 - ₹500.00</strong>
					{% elif price_range == "500-1000" %}
					<strong>₹500.00 - ₹1000.00</strong>
					{% elif price_range == "1000-" %}
					<strong>₹1000.00+</strong>
					{% endif %}
				</p>
				{% endif %}
				{% if sort %}
				<p>Sort Applied: 
					{% if sort == "id" %}
					<strong>Default</strong>
					{% elif sort == "popularity" %}
					<strong>Popularity</strong>
					{% elif sort == "newness" %}
					<strong>Newness</strong>
					{% elif sort == "rating" %}
					<strong>Rating</strong>
					{% elif sort == "low" %}
					<strong>Low to High</strong>
					{% elif sort == "high" %}
					<strong>High to Low</strong>
					{% elif sort == "az" %}
					<strong>aA-zZ</strong>
					{% elif sort == "za" %}
					<strong>zZ-aA</strong>
					{% endif %}
				</p>
				{% endif %}
			</div>
			<div class="row isotope-grid">
				
        {% include 'user/shop_product_list.html' %}
				
			</div>
			<nav aria-label="Page navigation d-flex justify-content-center">
				<ul class="pagination justify-content-center">
					<!-- Previous button -->
					<li class="page-item {% if products.number == 1 %}disabled{% endif %}">
						<a class="page-link" href="{% if page_obj.number != 1 %}?page={{ page_obj.number|add:'-1' }}{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{% if subcategory_id %}&subcategoryid={{subcategory_id}}{% endif %}{% else %}{%  if sort %}&sort={{ sort }}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}#{% endif %}" {% if page_obj.number == 1 %}tabindex="-1" aria-disabled="true"{% endif %}>
							Previous
						</a>
					</li>
			
					<!-- Page numbers -->
					{% for i in products.paginator.page_range %}
						<li class="page-item {% if page_obj.number == i %}active{% endif %}" {% if page_obj.number == i %}aria-current="page"{% endif %}>
							<a class="page-link" href="?page={{i}}{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{% if subcategory_id %}&subcategory_id={{subcategory_id}}{% endif %}{%  if sort %}&sort={{ sort }}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}">{{i}}</a>
						</li>
					{% endfor %}
			
					<!-- Next button -->
					<li class="page-item {% if products.number == products.paginator.num_pages %}disabled{% endif %}">
						<a class="page-link" href="{% if page_obj.number != page_obj.paginator.num_pages %}?page={{ page_obj.number|add:'1' }}{% if searchvalue %}&searchvalue={{searchvalue}}{% endif %}{% if category_id %}&category_id={{category_id}}{% endif %}{% if subcategory_id %}&subcategory_id={{subcategory_id}}{% endif %}{% else %}{%  if sort %}&sort={{ sort }}{% endif %}{%  if price_range %}&price_range={{ price_range }}{% endif %}#{% endif %}" {% if page_obj.number == page_obj.paginator.num_pages %} tabindex="-1" aria-disabled="true"{% endif %}>
							Next
						</a>
					</li>
				</ul>
			</nav>          
			</div>
			<div>{{category_id}}</div>
        </div>
	</div>
		