{% extends 'user/account_layout.html' %}
{% block address_active1 %}active{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title fw-semibold mb-0">Account Dashboard</h5>
    </div>
    <div class="card-body">
      <div class="row">
        
        <!-- Personal Information Section -->
        <div class="col-md-6">
          <h5>Personal Information</h5>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" value="{{ user.first_name }}" readonly>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" value="{{ user.last_name }}" readonly>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
          </div>
        </div>
        
        <!-- Account Overview Section -->
        <!-- <div class="col-md-6">
          <h5>Account Overview</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="card text-center bg-light mb-3">
                <div class="card-body">
                  <h6 class="card-title">Orders</h6>
                  <p class="card-text display-4">12</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-center bg-light mb-3">
                <div class="card-body">
                  <h6 class="card-title">Addresses</h6>
                  <p class="card-text display-4">3</p>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="card text-center bg-light mb-3">
                <div class="card-body">
                  <h6 class="card-title">Wallet Balance</h6>
                  <p class="card-text display-4">₹{% if wallet %}{{wallet.balance}}{% else %}0{% endif %}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-center bg-light mb-3">
                <div class="card-body">
                  <h6 class="card-title">Referal Code</h6>
                  <p class="card-text display-4">{{ user_obj.referral_code }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
 
  .display-4 {
    font-size: 2rem;
  }

</style>
{% endblock content %}
