<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    const orderId = "{{ payment.id }}"; 

    var options = {
        "key": "{{ key }}", 
        "amount": "{{ payment.amount }}", 
        "currency": "INR",
        "name": "Glamyze",
        "description": "Purchase Transaction",
        "image": "https://example.com/your_logo",
        "order_id": orderId, 
        "handler": function (response) {
            const url = "{% url 'wallet_app:payment_success' %}";
            const queryParams = `?payment_status=success&payment_id=${response.razorpay_payment_id}&order_id=${response.razorpay_order_id}&signature=${response.razorpay_signature}`;
            window.location.href = url + queryParams;
        },
        "theme": {
            "color": "#3399cc"
        },
        "modal": {
            "ondismiss": function() {
                const cancelUrl = "{% url 'wallet_app:payment_failure' %}";
                const cancelQueryParams = `?order_id=${orderId}`;
                window.location.href = cancelUrl + cancelQueryParams;
            }
        }
    };

    var rzp1 = new Razorpay(options);

    rzp1.on('payment.failed', function (response) {
        const failureUrl = "{% url 'wallet_app:payment_failure' %}";
        const failureQueryParams = `?order_id=${response.error.metadata.order_id}`;
        window.location.href = failureUrl + failureQueryParams;

        console.error("Payment failed:", response);
    });

    window.onload = function() {
        rzp1.open();
    }
</script>
