{% extends 'admin/base.html' %}
{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="px-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_dashboard' %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url 'product_management:product_details' %}">Products</a></li>
    <li class="breadcrumb-item">Add New Sizes</li>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<h5 class="m-4">Added Sizes</h5>
{% for added_size in added_sizes %}
<li class="ms-4">{{ added_size.size_name }}</li>
{% endfor %}
<h5 class="m-4">Select Sizes to Add</h5>
<form method="post">
    {% csrf_token %}
{% if sizes %}
{% for size in sizes %}
        <div class="form-check m-5">
            <input class="form-check-input" type="checkbox" name="{{ size.id }}" value="{{ size.id }}" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            {{ size.size_name }}
            </label>
        </div>
  {% endfor %}
  {% else %}
  <div class="m-4">No sizes to add</div>
  {% endif %}
  <button type="submit" class="btn btn-primary mx-4">Add Sizes</button>
</form>

{% endblock content %}